<div class="auth_section">
  
  {% if author.picture_url %}
    <img class="auth_img" src="{{site.url}}{{base.url}}/img/authors/{{author.picture_url}}" alt="{{author.name}}" />
  {% endif %}
  
  <div >
    <p class="author_header"> Meet the Author: {{author.name}}</p>
    <p class="author_info">{{author.bio}}</p>
    
    <ul class="author_social">
      
      {% if author.facebook %}
      <li class="author_li">
         <a href="https://www.facebook.com/{{ author.facebook }}" target="_blank" title=facebook>
         <img src="https://saifkabirasif.com/img/PSX_20170603_233446.jpg" alt="Website" class="author_social_img" />
          </a>
      </li>
      {% endif %}
      
      {% if author.linkedin %}
      <li class="author_li">
         <a href="https://linkedin.com/in/{{ author.linkedin }}" title="LinkedIn">
         <img src="https://saifkabirasif.com/img/PSX_20170603_233446.jpg" alt="Website" class="author_social_img" />
           </a>
      </li>
      {% endif %}
   
    </ul>
  </div>
</div>   
  
  

    
 
